@import "../PreSorting/preSorting.scss";

.shop__wrapper {
  text-align: center;
  margin-top: 2em;
  height: calc(100vh - 50px - 5em);
}
.shop__books__wrapper {
  width: 50%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  @media only screen and (max-width: 1024px) {
    display: flex;
    align-items: center;
    width: 100%;
    overflow-y: hidden;
    max-height: 100vh;
  }
}

.shop__book {
  @media only screen and (max-width: 1024px) {
    width: 50%;
    min-width: 50%;
    margin: 0 0.5em;
  }
}

.shop__header {
  font-family: Garamond;
  color: #9e8838;
  @media only screen and (max-width: 1200px) {
    font-size: 2em;
    margin: 0em auto 1em auto;
    width: 50%;
  }
  @media only screen and (max-width: 768px) {
    width: 70%;
  }
  @media only screen and (max-width: 400px) {
    font-size: 1.3em;
  }
}

.shop__link {
  margin: 0.5em 1em;
  &:hover {
    color: #f8eaed;
    text-decoration: none;
  }
  // @media only screen and (max-width: 1200px) {
  //   font-size: 1em;
  // }
}
