@import "../PreSorting/preSorting.scss";

.sortingQuiz__container {
  display: grid;
  height: 100%;
  grid-template-columns: 0.8fr 1fr 0.8fr;
  @media only screen and (max-width: 1100px) {
    display: block;
  }
}

.sortingQuiz__question {
  font-family: Garamond;
  text-transform: uppercase;
  border-radius: 0.25rem;
  color: #f8eaed;
  background-color: #f69ab9;
  padding: 1.2rem;
  font-weight: bolder;
  font-size: 1.1em;
  border-radius: 0.5em;
  text-align: left;
}

.sortingQuiz__wrapper {
  max-width: 600px;
  justify-self: center;
  margin-top: 5%;
  @media only screen and (max-width: 1100px) {
    margin: auto;
  }
}

.questions__wrapper {
  margin: 1.5em auto;
}

input[type="radio"] {
  opacity: 0;
  position: absolute;
}

input[type="radio"]:focus + label {
  outline: rgba(77, 97, 171, 0.5) auto 3px;
}

.quizAnswer__label {
  color: black;
}

#sortingQuiz__card {
  background: none !important;
  border: none !important;
  padding: 0 !important;
}

.sortingQuiz__bannerImages {
  margin-left: 1em;
  .banner__wrapper {
    width: 95%;
    @media only screen and (max-width: 768px) {
      width: 50%;
      margin: auto;
    }
  }
}

.sortingQuiz__saskia {
  width: 95%;
  overflow: hidden;
  max-height: 100%;
  justify-self: end;
  @media only screen and (max-width: 1100px) {
    display: none;
  }
}

.sortingQuiz__questionNumber__wrapper {
  width: 50%;
  text-align: center;
  background-color: #f8eaed;
  color: #9e8838;
  margin: 3em auto;
  border-radius: 0.5em;
  padding: 0.5em;
  @media only screen and (max-width: 1100px) {
    display: none;
  }
}

.sortingQuiz__questionNumber__header {
  font-weight: bolder;
  margin: auto;
}
