$mobile: 700px;
$tablet: 1200px;
$desktopSmall: 1024px;
$desktop: 1440px;

@mixin mobilesm {
  @media only screen and (max-width: 320px) {
    @content;
  }
}
@mixin mobilelg {
  @media only screen and (min-width: 425px) {
    @content;
  }
}
@mixin tablet {
  @media only screen and (min-width: 765px) {
    @content;
  }
}

@mixin desktopSmall {
  @media only screen and (min-width: $desktopSmall) {
    @content;
  }
}

@mixin desktop {
  @media only screen and (min-width: $desktop) {
    @content;
  }
}

@mixin desktopLg {
  @media only screen and (min-width: 2560px) {
    @content;
  }
}

@mixin tall {
  @media only screen and (min-height: 849px) {
    @content;
  }
}

@font-face {
  font-family: "HandOfSean";
  src: url("../../fonts/Hand_Of_Sean.ttf");
}
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100%;
  background: url("../../images/D_Site_Background.jpg") no-repeat center center
    fixed;
  background-size: cover;
  @media only screen and (max-width: 572px) {
    background: url("../../images/M_Site_Background.jpg") no-repeat center
      center fixed;
    background-size: cover;
  }
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
progress {
  vertical-align: baseline;
}
[hidden],
template {
  display: none;
}
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
a:active,
a:hover {
  outline-width: 0;
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}
b,
strong {
  font-weight: inherit;
  font-weight: bolder;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
mark {
  background-color: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
img {
  border-style: none;
}
svg:not(:root) {
  overflow: hidden;
}
code,
kbd,
pre,
samp {
  font-family: Garamond;
  font-size: 1em;
}
figure {
  margin: 1em 40px;
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
button,
input,
optgroup,
select,
textarea {
  font: inherit;
  margin: 0;
}
optgroup {
  font-weight: 700;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
[type="reset"],
[type="submit"],
button,
html [type="button"] {
  -webkit-appearance: button;
}
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring,
button:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
textarea {
  overflow: auto;
}
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
html {
  font: 112.5%/1.45em georgia, serif;
  box-sizing: border-box;
  overflow-y: scroll;
}
* {
  box-sizing: inherit;
}
*:before {
  box-sizing: inherit;
}
*:after {
  box-sizing: inherit;
}
body {
  color: hsla(0, 0%, 0%, 0.8);
  font-family: Garamond;
  font-weight: normal;
  word-wrap: break-word;
  font-kerning: normal;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -ms-font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";
}
img {
  max-width: 100%;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
h1 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: Garamond -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 2.25rem;
  line-height: 1.1;
}
h2 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: Garamond;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 1.62671rem;
  line-height: 1.1;
}
h3 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: Garamond;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 1.38316rem;
  line-height: 1.1;
}
h4 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: Garamond;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 1rem;
  line-height: 1.1;
}
h5 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: Garamond;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 0.85028rem;
  line-height: 1.1;
}
h6 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: Garamond;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 0.78405rem;
  line-height: 1.1;
}
hgroup {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
ul {
  margin-left: 1.45rem;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  list-style-position: outside;
  list-style-image: none;
}
ol {
  margin-left: 1.45rem;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  list-style-position: outside;
  list-style-image: none;
}
dl {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
dd {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
p {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
figure {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
pre {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 1.45rem;
  font-size: 0.85rem;
  line-height: 1.42;
  background: hsla(0, 0%, 0%, 0.04);
  border-radius: 3px;
  overflow: auto;
  word-wrap: normal;
  padding: 1.45rem;
}
table {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  font-size: 1rem;
  line-height: 1.45rem;
  border-collapse: collapse;
  width: 100%;
}
fieldset {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
blockquote {
  margin-left: 1.45rem;
  margin-right: 1.45rem;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
form {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
noscript {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
iframe {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
hr {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: calc(1.45rem - 1px);
  background: hsla(0, 0%, 0%, 0.2);
  border: none;
  height: 1px;
}
address {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
b {
  font-weight: bold;
}
strong {
  font-weight: bold;
}
dt {
  font-weight: bold;
}
th {
  font-weight: bold;
}
li {
  margin-bottom: calc(1.45rem / 2);
}
ol li {
  padding-left: 0;
}
ul li {
  padding-left: 0;
}
li > ol {
  margin-left: 1.45rem;
  margin-bottom: calc(1.45rem / 2);
  margin-top: calc(1.45rem / 2);
}
li > ul {
  margin-left: 1.45rem;
  margin-bottom: calc(1.45rem / 2);
  margin-top: calc(1.45rem / 2);
}
blockquote *:last-child {
  margin-bottom: 0;
}
li *:last-child {
  margin-bottom: 0;
}
p *:last-child {
  margin-bottom: 0;
}
li > p {
  margin-bottom: calc(1.45rem / 2);
}
code {
  font-size: 0.85rem;
  line-height: 1.45rem;
}
kbd {
  font-size: 0.85rem;
  line-height: 1.45rem;
}
samp {
  font-size: 0.85rem;
  line-height: 1.45rem;
}
abbr {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
}
acronym {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
}
abbr[title] {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
  text-decoration: none;
}
thead {
  text-align: left;
}
td,
th {
  text-align: left;
  border-bottom: 1px solid hsla(0, 0%, 0%, 0.12);
  font-feature-settings: "tnum";
  -moz-font-feature-settings: "tnum";
  -ms-font-feature-settings: "tnum";
  -webkit-font-feature-settings: "tnum";
  padding-left: 0.96667rem;
  padding-right: 0.96667rem;
  padding-top: 0.725rem;
  padding-bottom: calc(0.725rem - 1px);
}
th:first-child,
td:first-child {
  padding-left: 0;
}
th:last-child,
td:last-child {
  padding-right: 0;
}
tt,
code {
  background-color: hsla(0, 0%, 0%, 0.04);
  border-radius: 3px;
  font-family: Garamond;
  padding: 0;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
}
pre code {
  background: none;
  line-height: 1.42;
}
code:before,
code:after,
tt:before,
tt:after {
  letter-spacing: -0.2em;
  content: " ";
}
pre code:before,
pre code:after,
pre tt:before,
pre tt:after {
  content: "";
}
@media only screen and (max-width: 480px) {
  html {
    font-size: 100%;
  }
}

.layout__wrapper {
  position: relative;
  z-index: 2;
  margin: 0 auto;
  max-width: 960;
  padding-top: 0;
}

.radio-tertiary {
  cursor: pointer;
  display: inline-block;
  font-weight: 400;
  color: #9e8838;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 100%;
  background-color: #f8eaed;
  border: 1px solid transparent;
  padding: 0.5rem 0.75rem;
  font-size: 1.1rem;
  line-height: 1.5;
  border-radius: 0.5rem;
  transition: color 0.15s;
  margin-top: 0.5em;
  &:hover {
    background-color: #9e8838;
    color: #f8eaed;
  }
  &.active {
    background-color: #9e8838;
    color: #f8eaed;
  }
}

.navbar__brand {
  cursor: pointer;
  min-width: 200px;
  transform: translateX(-50%);
  left: 50%;
  top: 5px;
  position: absolute;
  @media only screen and (max-width: $mobile) {
    min-width: 150px;
  }
}

.navbar-collapse {
  @media only screen and (max-width: $tablet) {
    margin-top: 1em !important;
    margin-right: 0 !important;
  }
}

#navbar {
  background-color: #f8eaed !important;
}

.nav-link {
  color: #9e8838 !important;
  cursor: pointer !important;
  z-index: 2 !important;
  &:hover {
    text-decoration: underline !important;
  }
}

.navbar {
  padding: 1.1em 1em !important;
}

.background__image {
  // background: url("../../images/D_Site_SmRoses.png") no-repeat center center
  //   fixed;
  // background-size: cover;
  position: absolute;
  pointer-events: none;
  left: 0;
  top: 0;
  min-width: 100%;
  min-height: 100%;
  overflow: hidden;
  z-index: 1021;
  @media only screen and (max-width: $tablet) {
    z-index: 2;
  }
}

.main__page__wrapper {
  min-height: 100vh;
}

.centered {
  display: flex;
  align-items: center;
}

.sortedHouse__wrapper {
  display: grid;
  margin-top: 4em;
  grid-template-columns: 1fr 1.5fr 1fr;
  grid-template-areas: "left center right";
  text-align: center;
  @media only screen and (max-width: 768px) {
    display: block;
  }
}

.sortedHouse__header {
  color: #9e8838;
  font-family: Garamond;
  margin: 0.3em 0;
}

.sortedHouse__paragraph {
  font-family: Garamond;
  color: #3c1116;
  font-weight: 550;
  @media only screen and (max-width: 768px) {
    margin: 1em;
    font-size: 0.8em;
  }
}

.sortedHouse__content {
  grid-area: center;
}

.sortedHouse__banner__wrapper {
  width: 60%;
  align-self: center;
  margin: auto;
  @media only screen and (max-width: 400px) {
    width: 40%;
  }
}

.sortedHouse__studentImage__wrapper {
  width: 50%;
  @media only screen and (max-width: 768px) {
    width: 50%;
    align-self: auto;
    justify-self: auto;
  }
  align-self: center;
  justify-self: center;
  &.left {
    grid-area: left;
  }
  &.right {
    grid-area: right;
  }
}

.sortedHouse__studentImages__wrapper {
  display: contents;
  overflow: hidden;
  @media only screen and (max-width: 768px) {
    display: flex;
    max-height: 250px;
  }
  @media only screen and (max-width: 1024px) {
    max-height: 250px;
  }
  @media only screen and (max-height: 568px) {
    display: none;
  }
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(158,136,56)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}

.custom-toggler.navbar-toggler {
  border-color: rgb(158, 136, 56);
}

.individual__yearbook__wrapper {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-areas:
    "header pageTwo"
    "pageOne pageTwo";
  grid-template-columns: 1fr 1fr;
  @media only screen and (max-width: $tablet) {
    grid-template-areas:
      "header header"
      "pageOne pageTwo";
  }
}

%yearbook {
  font-family: "HandOfSean";
  color: #37170f;
}

%yearbook__header {
  @extend %yearbook;
  font-size: 2em;
  font-size: 2vw;
  @media only screen and (max-width: $tablet) {
    font-size: 4vw;
  }
}
%yearbook__nav__button {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 25px;
}

.yearbook {
  &__wrapper {
    background: url("../../images/D_Yearbook_Pages.png") no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 0.5rem auto 0 auto;
    min-height: 90vh;
    width: 70vw;
    text-align: center;
    position: relative;
    display: flex;
    @media only screen and (max-width: $tablet) {
      background: url("../../images/M_Yearbook_Pages.png") no-repeat center;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }
    @media only screen and (max-width: 800px) {
      min-height: 100vh;
    }
    @media only screen and (max-width: $mobile) {
      width: 80vw;
      min-height: 85vh;
    }
  }
  &__next__button {
    @extend %yearbook__nav__button;
    left: 90%;
    @media only screen and (max-width: $mobile) {
      left: 95%;
    }
  }
  &__back__button {
    @extend %yearbook__nav__button;
    left: 10%;
    @media only screen and (max-width: $mobile) {
      left: 5%;
    }
  }
  &__pageOne {
    @extend %yearbook;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-area: pageOne;
    &__header {
      @extend %yearbook__header;
      align-self: flex-start;
      margin: 2rem auto 0 auto;
      grid-area: header;
      @media only screen and (max-width: $tablet) {
        margin: 3rem auto 0 auto;
      }
    }
  }
  &__pageTwo {
    @extend %yearbook;
    font-size: 1.2vw;
    padding-right: 3.5rem;
    text-align: left;
    margin-top: 4vh;
    margin-left: 1rem;
    grid-area: pageTwo;
    @media only screen and (max-width: $tablet) {
      font-size: 2vw;
    }
    @media only screen and (max-width: $mobile) {
      font-size: 2.5vw;
      padding-right: 0.2rem;
    }
  }
  &__student__image {
    width: 70%;
    margin-top: 1rem;
  }
  &__student__house__image {
    width: 20%;
    margin-top: 1rem;
    @media only screen and (max-width: $tablet) {
      width: 60%;
      margin-top: 0;
    }
  }
  &__image__wrapper {
    height: 100%;
    width: 100%;
    display: flex;
  }
  &__header {
    @extend %yearbook__header;
    align-self: flex-start;
    margin: 2rem 0 0 10%;
    grid-area: header;
  }

  &__about__header {
    @extend %yearbook;
    font-size: 1.6vw;
    @media only screen and (max-width: $tablet) {
      font-size: 2.5vw;
    }
  }
  &__studentRoom__button {
    width: 12vw;
    position: absolute;
    top: 3%;
    right: 8%;
    cursor: pointer;
    border: none;
    background-color: transparent;
    @media only screen and (max-width: $tablet) {
      position: relative;
      margin: 0.5rem 0rem 0rem 10%;
      top: 0%;
      width: 30vw;
    }
    @media only screen and (max-width: $mobile) {
      width: 40vw;
    }
  }
  &__modal {
    position: absolute;
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: 60vw;
  }
  &__modal__overlay {
    position: fixed;
    z-index: 10;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: rgba(255, 255, 255, 0.75);
  }
  &__modal__closeButton {
    @extend %yearbook;
    color: rgba(255, 255, 255, 0.75);
    font-size: 2vw;
    position: absolute;
    left: 95%;
    border: none;
    background-color: transparent;
    cursor: pointer;
    z-index: 11;
  }
}

.yearbook__image__wrapper {
  @media only screen and (max-width: $tablet) {
    padding: 2rem;
    position: relative;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
      "header header header"
      "saskia raphael anastacia"
      "jamie ellie lottie"
      "percy any any"
      "binah lola micky";
  }
  @media only screen and (max-width: $mobile) {
    padding: 1rem;
    grid-gap: 10px;
  }
}
@mixin student($property, $top, $val, $area) {
  top: $top;
  #{$property}: $val;
  grid-area: $area;
  @media only screen and (max-width: $tablet) {
    top: auto;
    #{$property}: auto;
  }
}
.yearbook__student__wrapper {
  @extend %yearbook;
  font-size: 1.2vw;
  width: 15%;
  max-width: 170px;
  position: absolute;

  &.saskia {
    @include student(left, 10%, 5%, saskia);
  }
  &.raphael {
    @include student(left, 10%, 34%, raphael);
    transform: rotate(-5deg);
  }
  &.percy {
    @include student(left, 35%, 20%, percy);
    transform: rotate(-5deg);
  }
  &.anastacia {
    @include student(left, 60%, 5%, anastacia);
  }
  &.binah {
    @include student(left, 60%, 34%, binah);
  }
  &.jamie {
    @include student(right, 10%, 35%, jamie);
  }
  &.lottie {
    @include student(right, 10%, 5%, lottie);
    transform: rotate(-5deg);
  }
  &.ellie {
    @include student(right, 35%, 20%, ellie);
    transform: rotate(-5deg);
  }
  &.lola {
    @include student(right, 60%, 35%, lola);
    transform: rotate(-5deg);
  }
  &.micky {
    @include student(right, 60%, 5%, micky);
  }
  &:hover {
    @extend %yearbook;
    cursor: pointer;
    text-decoration: none;
  }
  @media only screen and (max-width: $tablet) {
    position: relative;
    width: auto;
    font-size: 3vw;
  }
}

.RosesTopLeft {
  position: fixed;
  z-index: 10000;
  top: -80px;
  left: -3%;
  width: 15%;
  pointer-events: none;
  @media only screen and (max-width: $tablet) {
    top: -10px;
    left: -1%;
  }
  @media only screen and (max-width: 400px) {
    width: 20%;
  }
}

.RosesTopRight {
  position: fixed;
  z-index: 10000;
  top: -80px;
  right: -3%;
  width: 15%;
  pointer-events: none;
  @media only screen and (max-width: $tablet) {
    top: -10px;
    right: -1%;
  }
  @media only screen and (max-width: 400px) {
    width: 20%;
  }
}

.RosesBottomRight {
  position: fixed;
  z-index: 10000;
  bottom: -50px;
  right: -2%;
  width: 15%;
  pointer-events: none;
  @media only screen and (max-width: 768px) {
    bottom: -25px;
  }
  @media only screen and (max-width: 400px) {
    width: 30%;
  }
}

.RosesBottomLeft {
  position: fixed;
  z-index: 10000;
  bottom: -50px;
  left: -2%;
  width: 15%;
  pointer-events: none;
  @media only screen and (max-width: 768px) {
    bottom: -25px;
    width: 20%;
  }
  @media only screen and (max-width: 400px) {
    width: 30%;
  }
}

.library {
  &__header {
    color: #37170f;
    text-align: center;
    margin: 1em auto;
  }
  .books {
    &__wrapper {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      @include tablet {
        flex-wrap: wrap;
        flex-direction: row;
      }
      @include desktop {
        max-width: 1440px;
        margin: 0 auto;
      }
      .library-book {
        transition: all 0.2s ease-in-out;
        position: relative;
        padding: 1em;
        @include tablet {
          width: 50%;
        }
        @include desktopSmall {
          width: 30%;
        }
        &__title {
          color: rgb(158, 136, 56);
          text-align: left;
          position: absolute;
          margin: 0;
          top: 15%;
          left: 46%;
          transform: rotateY(-45deg) rotateZ(6deg) rotateX(43deg)
            translate(0%, 0%);
          transform-origin: top left;
          font-size: 1.6em;
          @include mobilesm {
            width: 50%;
          }
          @include tablet {
            font-size: 1.8em;
          }
          @include desktopSmall {
            font-size: 1.8em;
          }
          @include desktop {
            // transform: rotateY(-45deg) rotateZ(6deg) rotateX(45deg)
            //   translate(-110%, -100%);
          }
        }
        &:hover {
          transform: scale(1.05);
        }
      }
    }
  }
}

.story {
  &__wrapper {
    font-size: 20px;
    max-width: 960px;
    padding: 40px 2em;
    margin: 0 auto;
    color: #37170f;
    text-align: justify;
    @include desktop {
      font-size: 22px;
    }
    &-title {
      text-align: center;
      margin-bottom: 1.5em;
    }
  }
}

.scrapbook {
  &__single-page {
    &__wrapper {
      position: relative;
      width: 90vw;
      max-width: 500px;
      margin: 2rem auto 0 auto;

      @include desktopSmall {
        width: 52vh;
      }

      @include desktop {
        width: 50vh;
      }
      @include desktopLg {
        max-width: 1440px;
      }
      @include tall {
        margin: 6rem auto 0 auto;
        @include desktop {
          width: 49vh;
        }
      }
      .next-button {
        position: absolute;
        right: 35%;
        top: calc(100% + 1rem);
        width: 20px;
        @include tablet {
          top: 50%;
          transform: translateY(-50%);
          margin: 0;
          right: -3rem;
          width: 25px;
        }
      }
      .back-button {
        position: absolute;
        left: 35%;
        top: calc(100% + 1.7rem);
        width: 20px;

        @include tablet {
          left: -3rem;
          top: 50%;
          transform: translateY(-50%);
          width: 25px;
        }
      }
    }
  }
  &__innerPages {
    &__wrapper {
      position: relative;
      width: 90vw;
      max-width: 960px;
      margin: 2rem auto 0 auto;
      @include tablet {
        width: 78vw;
      }

      @include desktop {
        width: 53vw;
      }
      @include desktopLg {
        width: 30vw;
      }
      @include tall {
        margin: 6rem auto 0 auto;
        @include desktop {
          width: 65vw;
        }
        @include desktopLg {
          max-width: 1400px;
          width: 40vw;
        }
      }
      .next-button {
        position: absolute;
        right: 30%;
        top: calc(100% + 1rem - 9px);
        width: 15px;

        @include tablet {
          top: 50%;
          transform: translateY(-50%);
          right: -3rem;
          width: 25px;
        }
      }
      .back-button {
        position: absolute;
        left: 30%;
        top: calc(100% + 1rem);
        width: 15px;

        @include tablet {
          left: -3rem;
          top: 50%;
          transform: translateY(-50%);
          width: 25px;
        }
      }
    }
  }
}
