.home__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background: url("../../images/D_Title_LgRoses.png") no-repeat center center
    fixed;
  background-size: cover;
}

.home__image__wrapper {
  width: 50%;
}
