.home__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.home__RosesTopLeft {
  position: fixed;
  z-index: 10000;
  top: -20vh;
  left: -3%;
  width: 20%;
  pointer-events: none;
  @media only screen and (max-width: 1200px) {
    top: -7vh;
    left: -1%;
  }
  @media only screen and (max-width: 800px) {
    top: -7vh;
  }
  @media only screen and (max-width: 450px) {
    width: 30%;
  }
}

.home__RosesTopRight {
  position: fixed;
  z-index: 10000;
  top: -10vh;
  right: -3%;
  width: 20%;
  pointer-events: none;
  @media only screen and (max-width: 1200px) {
    top: -7vh;
    right: -1%;
  }
  @media only screen and (max-width: 800px) {
    top: -3vh;
  }
  @media only screen and (max-width: 450px) {
    width: 30%;
  }
}

.home__RosesBottomRight {
  position: fixed;
  z-index: 10000;
  bottom: -50px;
  right: -2%;
  width: 20%;
  pointer-events: none;
  @media only screen and (max-width: 768px) {
    bottom: -25px;
  }
  @media only screen and (max-width: 450px) {
    width: 60%;
    right: -10vw;
    bottom: -5vh;
  }
}

.home__RosesBottomLeft {
  position: fixed;
  z-index: 10000;
  bottom: -50px;
  left: -2%;
  width: 20%;
  pointer-events: none;
  @media only screen and (max-width: 768px) {
    bottom: -25px;
    width: 20%;
  }
  @media only screen and (max-width: 450px) {
    width: 60%;
    left: -10vw;
    bottom: -5vh;
  }
}

.home__image__wrapper {
  position: fixed;
  top: 35vh;
  width: 50%;
  @media only screen and (max-width: 1200px) {
    width: 90%;
    top: 40vh;
  }
}
