.students__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
}

.students__header {
  font-family: Garamond;
  color: #9e8838;
  margin: 0.3em 0 0 0;
  text-align: center;
  padding-bottom: 0.5em;
  @media screen and (max-width: 760px) {
    font-size: 1.5em;
    margin: 0;
    padding: 0;
  }
}

.students__insignia {
  width: 100%;
  justify-self: center;
  border: none;
  background-color: transparent;
}

$break-large: 769px;

.students__Images__wrapper {
  align-items: center;
  margin: 3em auto 1em auto;
  display: grid;
  max-width: 100%;
  z-index: 2;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 30px;
  @media screen and (max-width: $break-large) {
    margin: 1em 1em 1em 0;
  }
  @media screen and (max-width: 768px) {
    margin-top: 5rem;
  }
}

.students__image__wrapper {
  width: 100%;
  justify-self: center;
  @media screen and (max-width: 768px) {
    width: 90%;
  }
}

.studets__house__wrapper {
  margin: auto;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr 1fr;
  @media screen and (max-width: 1024px) {
    grid-template-columns: 1fr 1fr;
  }
}

.students__house__insignia {
  width: 70%;
  justify-self: center;
  margin: auto;
  @media screen and (max-width: 1024px) {
    margin-top: 1em;
    width: 50%;
  }
  @media screen and (max-width: 500px) {
    width: 50%;
  }
}

.student__house__description {
  font-family: Garamond;
  color: #3c1116;
  font-weight: bold;
  text-align: center;
  margin: 1.5em auto;
  width: 80%;
  @media screen and (max-width: 1024px) {
    width: 80%;
    font-size: 1.1em;
  }
  @media screen and (max-width: 768px) {
    width: 80%;
    font-size: 0.8em;
  }
  @media screen and (max-width: 500px) {
    font-size: 0.6em;
    width: 80%;
    text-align: left;
  }
}

.student__house__students__wrapper {
  padding-top: 2.5em;
  @media screen and (max-width: $break-large) {
    width: 100%;
    justify-self: center;
    padding-top: 1em;
  }
  @media screen and (max-width: 1024px) and (min-width: 764px) {
    width: 90%;
    justify-self: center;
    padding-top: 1em;
  }
}

.student__house__student__description {
  position: relative;
  border-radius: 0.5em;
  width: 100%;
  background-color: #f8eaed;
  justify-self: center;
  @media screen and (max-width: 576px) {
    display: none;
  }
  // @media screen and (max-width: 768px) {
  //   font-size: 0.8em;
  // }
  // @media screen and (min-height: 800px) and (max-width: 500px) {
  //   font-size: 0.6em;
  //   width: 90%;
  // }
  // @media screen and (max-height: 568px) and (max-width: 400px) {
  //   font-size: 0.3em;
  //   width: 90%;
  // }
  // @media screen and (max-height: 800px) and (min-width: 768px) {
  //   font-size: 0.8em;
  //   width: 80%;
  // }
}

.student__house__student__name {
  font-family: Garamond;
  color: #3c1116;
  font-weight: bold;
  font-size: 0.6em;
  cursor: pointer;

  @media screen and (min-width: 1024px) {
    font-size: 1em;
  }
}

.student__house__student__name__wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30px, 1fr));
  align-items: center;
  justify-items: center;
}

.student__house__student__header {
  color: white;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
  padding: 0.4em;
  display: flex;
  justify-content: center;
  & h3 {
    margin: 0;
  }
  @media screen and (max-width: 768px) {
    & h4 {
      font-size: 1.4em;
    }
  }
}

.student__house__student__insignia__wrapper {
  position: absolute;
  top: 0%;
  right: -10%;
  width: 20%;
}

.student__house__student__body {
  font-family: Garamond;
  color: #9e8838;
  line-height: 1.4em;
  padding: 1em 1.5em;
  font-weight: 600;
}

.student__house__currentStudent__image {
  width: 60%;
  margin: auto;
}
.student__house__currentStudent__wrapper {
  @media screen and (min-width: 1200px) {
    display: none;
  }
  @media screen and (max-width: 576px) {
    display: none;
  }
}

.conch {
  background-color: #a00d2c;
}

.ivy {
  background-color: #73387e;
}

.stratus {
  background-color: #ebb708;
}

.studentsImage__wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30px, 1fr));
}

.student__house__student__name {
  text-align: center;
}
.studentImage__student {
  text-align: center;
}

.studentsImage__image {
  cursor: pointer;
}

.students__house__backButton {
  width: 40%;
  align-self: center;
  cursor: pointer;
  @media screen and (min-width: 1200px) {
    width: 20%;
  }
}
.students__house__forwardButton {
  width: 40%;
  align-self: center;
  cursor: pointer;
  justify-self: end;
  @media screen and (min-width: 1200px) {
    width: 20%;
  }
}

.students__house__content__wrapper {
  display: grid;
  grid-template-columns: 0.1fr 1fr 0.1fr;
  justify-content: center;
}
